[{:itonami.blueprint/social-impact [:maritime-safety :crew-welfare :logistics-transparency], :itonami.blueprint/domain :maritime/deck-crew-scheduling, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8350", :itonami.blueprint/name "Deck Crew Scheduling and Logistics Coordination", :itonami.blueprint/governor :deck-crew-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8350", :itonami.blueprint/license "AGPL-3.0-or-later"}]
